body {
    background-image: url("background.jpg");
    font-family: 'Poppins', sans-serif;
}

#form {
    overflow: hidden; 
    height: 100%;
    margin-top: 40px;
    background-image: url("banner.jpg");
    border-radius: 4px;
    font-size: 15px;
    background-size: cover;
    text-align: center;
    justify-content: center;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 90px;
    color: white;
    background-color: rgb(70 88 255);
    border: none;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.input-control {
    font-size: large;

}

label {
    width: 150px;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	font-size: 16px;
	padding: 10px;
	width: 100%;
    justify-content: center;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 15px;
    height: 15px;
}

.image {
    text-align: center;
    height:fit-content;
}

.buttons {
    text-align: center;
    font-size: 13px;
}

.inputs {
    width: 40%;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px
}

.exists {
    color: #ff3860;
    text-align: center;
}
